body {
  font-family: 'Roboto';
}
.app-bar {
  display: flex;
  height: 56px;
  background-color: #282c34;
  align-items: center;
  padding-left: 16px;
}
.app-bar-title {
  margin-left: 16px;
  color: white;
}

.card {
  height: 344px;
  margin: 16px;
  padding: 16px;
}

.footer-bar {
  height: 56px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  align-items: center;
  display: flex;
  padding: 0 16px 0 16px;
}
