body {
  font-family: 'Roboto';
}
.container {
  padding: 56px 0 56px 0;
}
.app-bar {
  display: flex;
  height: 56px;
  background-color: #282c34;
  align-items: center;
  padding-left: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.app-bar-title {
  margin-left: 16px;
  color: white;
}

.card {
  height: 344px;
  margin: 16px;
  padding: 16px;
}

.footer-bar {
  height: 56px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  align-items: center;
  display: flex;
  padding: 0 16px 0 16px;
}
.input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
}
.icon {
  color: grey;
  padding: 8px;
  height: 24px;
  width: 24px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
